@import "helpers/variables";
@import "helpers/mixins";
@import "helpers/functions";
@import "vendor/libs";
@import "base/fonts";
@import "base/general";
@import "../blocks/modules";

$light-blue:    #7581a1;
$bg-blue:       #1085e4;
$item-blue:     #6e7ea9;
$header-blue:   #192b59;
$accent-color:  #192b59;

h1, h2, h3, h4, p{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Open Sans', sans-serif;
    text-align: left;
    color: $light-blue;
    font-size: 16px;
    line-height: 26px;  /* Межстрочный интервал */
}
a{
    text-decoration: none; /* Убрать подчеркивание */
}
.wrap{
    max-width: 1170px;
    margin: 0px auto; /* по центру */
}
.btn-free{
    color: white;
    background-color: $bg-blue;
    font-weight: 400;
}
.page-header{
    background-image: url(../img/bg/bg.png);
    background-repeat: no-repeat;
    background-size: cover; /* что бы он растягивался на всю ширину*/
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1170px;
    margin: 0px auto; /* по центру */
    padding-top: 45px;
     &__logo{
        display: block;
        width: 181px;
        height: 49px;
        background-image: url(../img/logo.png);
    }
    &-list{
        list-style-type: none; /* Убрать маркеры списка */
        display: flex;
        justify-content: flex-end;
        &__item{
            margin-left: 15px;
            font-size: 12px;
            font-weight: 700;
            color: $item-blue;
            text-transform: uppercase;
            &.active{
                border-bottom: 3px solid $accent-color;
                }
            }
    }
}
/* h1{
    font-size: 80px;
    font-weight: 600;
    color: $header-blue;
}
.nav{
    font-size: 12px;
    font-weight: 700;
    color: $item-blue;
    text-transform: uppercase;
}
.grid h2{
    font-size: 40px;
    color: $header-blue;
    font-weight: 700;
}
.grid h2 span{
    font-size: 14px;
    color: $bg-blue;
    display: block; // Чтобы с новой строки 
}
.grid-item h3{
    font-size: 20px;
    color: $header-blue;
    font-weight: 600;
}
.grid-item a{
    font-size: 14px;
    color: $bg-blue;
    font-weight: 600;
} */